body {
    background-color: #282f3a;
    min-height: 100vh;
    color: #dcdede;
    font-family: "Courier New";
    font-size: 12pt;
    line-height: 1.8em;

    display: flex;
    flex-direction: column;
}

header {
    margin-top: 40px;
}

.container {
    width: 100%;
    max-width: 1100px;  /* the furthest right content goes */
    margin: 0 auto;     /* centers it horizontally */
    padding: 0 20px;    /* breathing room on the sides */
    flex: 1;
}

.nav-list-top {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 2em;

}

.nav-list-top li {
    display: inline;
    margin-right: 1em;
}

.nav-list-bottom{
}

.nav-list-bottom li {
    display: inline;
    margin-right: 1em;
}

a {
    color: rgb(126, 146, 162);
}

a:hover {
    color: lightskyblue;
}

footer {
    text-align: center;
}