.blackField
{
    background-color: 	rgb(90,56,47);
}

.field{
    width: 100%;
    height: 100%;

    border: none;

    display: block;
}

button:hover{
    filter: brightness(1.2);
}


.whiteField
{
    background-color: 	rgb(251,194,115);
}

#board
{
    border: none;
    border-radius: 50px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-left: 100px;
}

.field img {
    height: 100%;
    width: 100%;
    margin: 0;    
    padding: 0;

    display: block;

    pointer-events: none;
}

.player
{
    margin-left: 100px;

    font-size: 100%;

    font-family: cursive;

    background-color: #555;

    display: flex;

    justify-self: baseline;

    padding: 10px;
    padding-top: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}